/* 
Selector Syntax:
selectorType{
    propertykey: proprtyValue;
}
*/

/* 1. Element Selector */
p{
    color: red;
}
h2{
    color: white;
    background-color: black;
}

/* 2.ID Selector */
#p1Id{
    color: brown;
}
#p1Id{
    font-family: cursive;
}

/* 3. Class Selector*/
.highlighter{
    color: yellow;
}