*{
    /* border: 1px solid green; */
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
p{
    width: 60%;
    /* display: inline; */
    display: block;
}

/* a{
    width:60%;
    display:block;
    height: 125px;
} */
img{
    width: %;
    height: 80%;
    display: inline-block;
}
ul{
    list-style: none;
    text-align: right;
    background-color: black;
    padding: 30px;
}
ul > li > a {
 /* color: white;    */
 text-decoration: none;
}

li{
    display: inline;
    
}

li>a:hover{
    color: white;
}