body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box2{
    padding: 60px;
}

div{
    border: 12px solid greenyellow;
     /* padding: 35px 40px 45px 50px; */
    /* margin: 25px; */
    width: 250px;
    height: 250px;

}