main{
    border: 2px solid brown;
    border-radius: 5%;
    width: 50%;
    /* vw (view width), vh (view height) ,px (pixels), em, rem */
}
/* html{
    font-size: 1em;
} */

section{
    border: 4px dotted green;
    /* height:150vh */
    width: 70vh;
    /* border-radius: 5%; */
}

h2{
    font-size: 4em;

}